<% include ./partials/cheader %>

  <style>@import url('/stylesheets/final.css')</style>
<div class="container page">
  <div id="wrapper">
    <h1 id="main_head">Thanks for availing the Service</h1>
    <h2 id="second-head">Our technician will contact you soon</h2>
    <p class="para1">Sit back and enjoy the <span>UrbanClap Assured</span> services</p>
    <p class="para2"><a href="/cust">click here to go back to the home page</a></p>
  </div>
</div>

</body>

</html>