<% include ./partials/cheader %>
  <style>@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')</style>
  <style>@import url('/stylesheets/cust.css')</style>
  <div id="main-wrapper">

    <br/>
    <br/>
    <div style="background-image: url(/images/back-image.jpg);" id="back-image">
      <div style="background: rgba(70, 72, 82, 0.3)">
        <h1 class="a1234">Your Service Expert in India</h1>
        <h5 class="b1234">Get instant access to reliable and affordable services</h5>
        <div class="c1234">
          <div style="margin-left: 10%;">
            <form autocomplete="off" action="/">
              <div class="autocomplete" style="width:220px;">
                <input id="myInput" type="text" name="services" placeholder="Search for a Service">
              </div>
              <input type="search" value="Search" onclick="myFunc()">
            </form>
          </div>
        </div>
        <div>
          <p id="search-tip">Eg. Electrician, Plumber, Maid</p>
        </div>
      </div>
    </div>

  </div>


  <div id="b">
    <h1><i class="fa fa-briefcase" style="padding-right: 15px;"></i> Services At Your Door-Step <i class="fa fa-briefcase" style="padding-left: 15px;"></i></span>
    </h1>
  </div>
  <div class="container container-body">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/electrician">
          <img src="/images/wm.png" alt="Electrician" style="width:100%">
          <div class="caption">
            <p>ELECTRICIAN</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/mehendi.png" alt="Nature" style="width:100%">
          <div class="caption">
            <p>MEHENDI ARTIST</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
            <div class="caption">
              <img src="/images/pest.png" alt="Fjords" style="width:100%">
              <p>PEST CONTROL</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/car.png" alt="Lights"  style="width:100%">
          <div class="caption">
            <p>CARPENTER</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
            <div class="caption">
              <img src="/images/wp.png" alt="Nature" style="width:100%">
              <p>WEDDING PHOTOGRAPHER</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/cctv.png" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>CCTV CAMERAS AND INSTALLATION</p>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/massager.png" alt="Lights" style="width:100%">
          <div class="caption">
            <p>MASSAGER</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/m11.png" alt="Nature" style="width:100%">
          <div class="caption">
            <p>MAID / HELPER</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/customer/plumber">
          <img src="/images/plum.png" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>PLUMBER</p>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="foot">
    copyright - 2018  <p id="about_us"> <a href="/Tareef">About Us</a></p>   
  </footer>

  <script src="/javascripts/services.js"></script>
</body>

</html>