<% include ./partials/header %>
  <style>@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')</style>
  <style>@import url('/stylesheets/proffirststyle.css')</style>
  <div id="main-wrapper">

    <br/>
    <br/>
   <div id="main-body">
    <p class="guidetoprof">Welcome to Urbanclap<br>Here is your one step guide
    to become a Professional </p>
    <p class="tiptoprof">Join the expanding community of both Professionals
    and Customers</p>
  </div>
  <div id="main-content">
    <h1 class="main-content-header">3 step guide on how we work</h1>
    <ul class="profsteps">
      <li>
        <h4>Get Verified Customers</h4>
        <p>connect to customers requiring your services</p>
      </li>
      <li>
        <h4>Connect to Customers</h4>
        <p>get to know exact details of work from the customer directly</p>
      </li>
      <li>
        <h4>Chat and get Hired</h4>
        <p>chat with customer directly, mention your quote and get hired</p>
      </li>
    </ul>
  </div>
  <div class="service-partner">
    <h3>Become a Professional Partner within Minutes</h3>
    <p><a href="/prof/reg"><button type="button" class="btn btn-danger">Click here to Sign-Up
    & become a Professional</button></a></p>
  </div>

  
  <footer class="foot">
    &copy 2018  <p id="about_us"> <a href="/Tareef">About Us</a></p>   
  </footer>

</body>

</html>